<header class="">
    <section class=" uk-container uk-container-large">
        <div class="">
            <nav class="" uk-navbar>
                <div class="uk-navbar-left">
                    <h2 class="logo"><a href="/">Histogram </a></h2>
                </div>
                <div class="uk-navbar-center">
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li><a href="/">Home</a></li>
                        <li><a href="/">Logout</a></li> <!-- Preguntar donde deberia enviarme el log out -->
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <a href="/post/addPost">Agregar post</a>
                    <a href="#">Mi perfil</a>
                    <form action="" class="uk-search uk-search-default"> <!-- Cambiar el formulario a como hicimos en el header deslogueado (agregar name a los inputs, method y action al form, etc)!-->
                        <span uk-search-icon></span>
                        <input type="search" class="uk-search-input" placeholder="Buscar...">
                    </form>
                </div>
            </nav>
        </div>
    </section>
</header>