<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head")%>

<body>
    <%- include("./partials/headerLogueado") %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <form action="">
                    <label for="imagen">Select file image</label>
                    <input type="file" name="image" id="">

                </form>

            </div>
        </div>
    </main>
    
    <%- include("./partials/footer") %>
</body>

</html>