<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head")%>

<body>
    <%- include("./partials/header") %>

    <main>
      <% if(userLogedIn.userName){%>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
              <div class="container">  
                <form id="contact" method="POST" enctype="multipart/form-data">
                  <h3>Add Post</h3>
                  <h4></h4>
                  <fieldset>
                    <input name="postDescription" placeholder="Description" type="text" tabindex="1"  autofocus>
                  </fieldset>
                  <fieldset>
                    <input name="image" placeholder="Image" type="file" tabindex="2" >
                  </fieldset>
                 
                  <fieldset>
                    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                  </fieldset>
                
                </form>
              </div>
            </div>    
        </div>
    
      <% } else{ %>
        <div class="uk-section uk-section-small">
          <div class="uk-container uk-container-large uk-flex">
            <div class="container">  
              <h3> <a href="/register">Regístrate</a> o <a href="/login">inicia sesión</a> para agregar posts a tu perfil</h3>
            </div>
          </div>    
      </div>
      <% } %>
    </main>
    <%- include("./partials/footer") %>
</body>

</html>