<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %> 
<body>
    <main>
        <%- include("./partials/headerDeslogueado") %>

        <div class="mainDiv">
            <div class="div">
                <h1><%= error %></h1>
                <a href="/login"> <h2>Intente Nuevamente</h2> </a>
            </div> 
        </div>
    </main>

    <%- include("./partials/footer") %>
</body>
</html>

