<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head")%>

<body>
    <%- include("./partials/headerDeslogueado")%>
    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <div class="formContainerLogin">
                    <h2>Join us Now</h2>
                    <form class="formLogin" action="/profile/myProfile" method="GET">
                      <div class="col">
                        <label for="usuario">Username</label>
                        <input class="inputLogin" type="text" name="usuario" placeholder="Username">
                      </div>
                      <div class="col">
                        <label for="usuario">Password</label>
                        <input class="inputLogin" type="password" name="contrasena" placeholder="Password">
                      </div>
                      <div class="col">
                      <button class="buttonLogin" type="submit"> Submit </button>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <%- include("./partials/footer")%>
</body>

</html>