<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head")%>

<body>
    <%- include("./partials/headerDeslogueado")%>
    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <div class="formContainerLogin">
                    <h2>Join us Now</h2>
                    <form class="formLogin" action="/perfil/miPerfil" method="GET"> <!-- Deberiamos validar el formulario -->
                        <!-- <label for="nombre"> Nombre de Usuario </label> -->
                        <input class="inputLogin" type="text" name="usuario" placeholder="Username">
                        <input class="inputLogin" type="text" name="contrasena" placeholder="Password">
                        <button class="buttonLogin" type="submit"> submit </button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <%- include("./partials/footer")%>

</body>

</html>