<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head")%>

<body>
    <%- include("./partials/headerDeslogueado")%>
    <main>
      <div class="uk-section uk-section-small">
        <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
          <div class="container">  
            <form id="contact"  method="POST">  <!-- action="/profile/myProfile" no es necesario el action ya que las rutas tienen mismo nombre pero distinto metodo-->
              <h3>Join us Now</h3>
              <h4>Login</h4>
              
              <fieldset>
                <input name="userName" id="userName" placeholder="Username" type="text" tabindex="1"  autofocus>
              </fieldset>
              
              <fieldset>
                <input name="userPassword" id="userPassword" placeholder="Password" type="password" tabindex="1"  autofocus>
              </fieldset>
              
              <fieldset>
                <button type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
              </fieldset>
    
            </form>
          </div>
        </div>
      </div>
    </main>

    <%- include("./partials/footer")%>
</body>

</html>