<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head")%>

<body>
    <%- include("./partials/headerDeslogueado")%>
    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <div class="formContainerRegister">
                    <h1>Register Now</h1>
                    <form class="formRegister" action="/" method="GET">
                        <div class="line">
                            <div class="col1">
                                <label for="name"> Name </label>
                                <input name="name" class="inputRegister" type="text" placeholder="Name">
                            </div>
                            <div class="col2">
                                <label for="lastname"> Last name </label>
                                <input name="lastname" class="inputRegister" type="text" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="line">
                            <div class="col1">
                                <label for="email"> Email </label>
                                <input name="email" class="inputRegister email" type="text" placeholder="Email">
                            </div>
                        </div>
                        <div class="line">
                            <div class="col1">
                                <label for="password">Password</label>
                                <input name="password" class="inputRegister" type="password" placeholder="Password">
                            </div>
                            <div class="col2">
                                <label for="passwordRepeat">Password</label>
                                <input name="passwordRepeat" class="inputRegister" type="password" placeholder="Confirm Password">    
                            </div>
                        </div>
                        <div class="line">
                            <label for="bio"> Bio </label>
                            <input class="inputRegister" name="bio" type="text">
                            <label for="age"> Age </label>
                            <input class="inputRegister" name="age" type="text">
                        </div>
                        <button class="buttonRegister" type="submit"></button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <%- include("./partials/footer")%>


</body>

</html>