section.detalle-container{
    border: 1px solid goldenrod;
}

article.detalle-post .imagen-post{
    width: 500px;
    height: 600px;
    border-right: 1px solid goldenrod;
}

.comentarios-detalle{
    border-left: 1px solid goldenrod;
}

.comentarios-detalle form .icono-eliminarPost{
    background-color: white;
    border: 0px 
}

.comentarios-detalle .info-post{
    height: 10%;
    border-bottom: 1px solid goldenrod;
    padding-left: 5px; 
}
.comentarios-detalle .info-post img{
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.comentarios-detalle .info-post h3{
    font-size: 14px;
    font-weight: bolder;
    margin: 0 0 0 8px;
}
.comentarios-detalle .lista-comentarios{
    height: 75%;
    padding-left: 5px;
    border-bottom: 1px solid goldenrod;
    overflow: scroll;
}
.comentarios-detalle .lista-comentarios::-webkit-scrollbar{
    display: none;
}
.comentarios-detalle .agregar-comentario{
    height: 15%;
    padding-left: 5px;
}

.comentarios-detalle .lista-comentarios{
    padding-right: 2px;
}
.comentarios-detalle .lista-comentarios .comentario .icono-meGusta{
    font-weight: bolder;
    color: red;
}
.comentarios-detalle .lista-comentarios .comentario div img{
    border-radius: 50%;
    height: 60px;
    margin-right: 5px;
}

.comentarios-detalle .lista-comentarios .comentario h6{
    color:black;                       /*Cambiar color de la letra comentarios*/
    font-size: 15px;                    /*Cambiar tamaño de la letra comentarios*/
    margin-left: 2px !important;
}
.comentarios-detalle .lista-comentarios .comentario h6 a{
    font-weight: bolder;
    font-size: 15px;
    color: black;                     /*Cambiar color de la letra del usuario que realizo el comentario*/
    text-decoration: none;
    margin-right: 4px !important;
}

